/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html,body{
	height: 100%;
	font-family: 'Exo 2', sans-serif;
	scroll-behavior: smooth;
	font-style: normal;
	font-weight: normal;
}

/*Базовые*/
.pkpoisk__wrapper{}
.pkpoisk__container{
	max-width: 100%;
	position: relative;
}
.pkpoisk__button {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	padding-top: 16px;
	padding-bottom: 15px;
	background: #C01E7E;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 10px;	
}


/*Основные*/

.pkpoisk__modal-overlay {
	text-align: center;
	background-color: rgba(0,0,0,0.pkpoisk__40);
	height: 100%;
}
.pkpoisk__modal-overlay::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}
.pkpoisk__popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	z-index: 11;
	/*opacity: 0;*/
	/*visibility: hidden;*/
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}
.pkpoisk__popup.pkpoisk__open {
	opacity: 1;
	visibility: visible;
}
.pkpoisk__popup.pkpoisk__open .pkpoisk__popup__content{
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}
.pkpoisk__popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.pkpoisk__popup__close {
	position: absolute;
	right: 22px;
	top: 22px;
	width: 18px;
	height: 18px;
	background: url(../img/close.svg);
	font-size: 20px;
	color: #000;
}
.pkpoisk__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pkpoisk__search-block--desktop {
		width: 960px;
		padding: 30px 60px 66px;
		margin: 0 auto;
		border-radius: 10px;
		background-color: #fff;
		max-height: 525px;
		vertical-align: middle;
		display: inline-block;
	}
	.pkpoisk__cur-city {
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #343744;
		margin-left: 24px;		
		display: flex;
		align-items: center;
	}
	.pkpoisk__cur-city__text {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #265B88;
		display: none;
	}
	.pkpoisk__cur-city__text--active {
		display: block;
	}
	.pkpoisk__cur-city__text--hide {
		display: none;
	}
	.pkpoisk__cur-city:hover {
		cursor: pointer;
	}
	.pkpoisk__cur-city > span {
		margin-left: 8px;
	}
	.pkpoisk__edit-btn {
		display: none;
		font-weight: normal;
		font-size: 10px;
		line-height: 13px;
		align-items: center;
		color: #265B88;
		border-bottom: 1px solid #265B88;
		margin-left: 8px;
	}
	.pkpoisk__edit-btn--active {
		display: block;
	}
	.pkpoisk__edit-btn:hover {
		cursor: pointer;
	}
	.pkpoisk__close-btn {
		position: relative;
		right: -21px;
		width: 14px;
		top: 7px;
	
	}
	.pkpoisk__close-btn-wr {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	.pkpoisk__close-btn:hover {
		cursor: pointer;
	}
	.pkpoisk__search-input {
		margin: 32px 0 30px;
		position: relative;
	}
	.pkpoisk__search-term {
		width: 840px;
		line-height: 35px;
		border: 1px solid #265B88;
		border-radius: 30px;
		padding: 0 40px;
		font-weight: 500;
		font-size: 14px;
		color: #343744;
	}
	.pkpoisk__search-term:focus {
		font-size: 14px;
	}
	.pkpoisk__search-btn {
		position: absolute;
		top: 50%;
		left: 12px;
		margin-top: -9px;
	}
	.pkpoisk__clear-btn {
		position: absolute;
		top: 50%;
		right: 8px;
		margin-top: -9px;
	}
	.pkpoisk__advanced-search {
		display: none;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		color: #265B88;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.pkpoisk__advanced-search__text-wr {
	}
	.pkpoisk__advanced-search--active {
		display: flex;
	}
	.pkpoisk__advanced-search__text {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #265B88;
	}
	.pkpoisk__advanced-search__text--hide {
		display: none;
	}
	.pkpoisk__search-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 310px;
	}
	.pkpoisk__search-list-wr {
		overflow: auto;
		display: none;
		position: relative;
		height: 310px;
	}
	.pkpoisk__search-list {
		position: absolute;
		top: 18px;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: left;
	}
	.pkpoisk__search-list-wr--active {
		display: block;
	}
	.pkpoisk__search-list__item {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 23px;
		color: #343744;
	}

	.pkpoisk__search-term--checked:focus {
		color: #343744;
	}
	.pkpoisk__advanced-search__content {
		margin-bottom: 26px;
		width: 375px;
	}
	.pkpoisk__advanced-search__option {
		background: #EDEDED;
		border-radius: 5px;
		width: 100px;
		height: 24px;
		font-weight: 500;
		font-size: 11px;
		line-height: 1.pkpoisk__85em;
		text-align: center;
		color: #265B88;
		border: 1px solid #EDEDED;
	}
	.pkpoisk__filter-content {
		width: 375px;
	}
	.pkpoisk__advanced-search__option:first-child {
		background: #fff;
		border: 1px solid #265B88;
		box-sizing: border-box;
	}
	.pkpoisk__advanced-search__option--active {
		background: #265B88 !important;
		color: #fff;
		border: 1px solid #265B88;
	}
	.pkpoisk__price__text {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #171D33;
	}
	.pkpoisk__price__clear-btn {
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
		color: #265B88;
	}
	.pkpoisk__check-block {
		margin-top: 59px;
	}
	.pkpoisk__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	.pkpoisk__checkbox + .pkpoisk__check-label {
		display: inline-flex;
  		align-items: center;
  		user-select: none;
	}
	.pkpoisk__checkbox + .pkpoisk__check-label:before {
		content: '';
  		display: inline-block;
		width: 18px;
		height: 18px;
		border: 2px solid #265B88;
		background-repeat: no-repeat;
  		background-position: center center;
  		margin-right: 8px;

	}
	.pkpoisk__checkbox:checked+label::before {
		background-image: url("../img/Vector.png");
	}
	.pkpoisk__check-label {
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #343744;
		margin-left: 8px;
		margin-right: 21px;
	}
	.pkpoisk__advanced-search__category {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #265B88;
		background-color: transparent;
		text-align: left;
	}
	.pkpoisk__advanced-search__category:hover {
		cursor: pointer;
	}
	.pkpoisk__advanced-search__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 200px;
	}
	.pkpoisk__advanced-search__list input {
		padding-left: 6px;
	}
	.pkpoisk__advanced-search__submit {
		background: #265B88;
		border-radius: 30px;
		width: 100%;
		height: 35px;
		line-height: 35px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		margin-top: 23px;
	}
	.pkpoisk__advanced-search__submit:hover {
		cursor: pointer;
	}
	.pkpoisk__advanced-search__label {
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 38px;
		text-align: left;
	}
	.pkpoisk__category-wr {
		display: flex; 
		align-items: center; 
		margin-bottom: 20px; 
		height: 24px;
		line-height: 24px;
		margin-right: 10px;
		box-sizing: border-box;
	}
	.pkpoisk__category-wr--active {
		background-color: #265B88;
		border-radius: 5px;
		text-align: center;
	}
	.pkpoisk__category-wr--active .pkpoisk__advanced-search__category{
		color: #fff;
	}
	.pkpoisk__category-wr--active > svg {
		padding-left: 5px; 
	}
	.pkpoisk__category-wr--active > svg path{
		fill: #fff;
	}
	#animBlock {
		 animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
	}

	@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }    
    100% {
        transform: translateX(0%);
    }   
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }        
    100% {
        -webkit-transform: translateX(0%);
    }
}

	// RANGE FILTER 
	.pkpoisk__range-container * {
    box-sizing: border-box;
    outline: none;
}
.pkpoisk__range-container {
    margin: 38px 0 55px 0;
    width: 100%;
}
.pkpoisk__range-container:after {
    content: "";
    clear: both;
    display: table;
}
.pkpoisk__range-container .ui-slider {
    position: relative;
    background: #c4c4c4;
    height: 3px;
}
.pkpoisk__range-container .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    top: -6px;
    background: #265B88;
    z-index: 2;
}

.pkpoisk__range-container .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 3px;
    border: 0;
    background: #265B88;
}
	.pkpoisk__price-filter {
		margin-top: 22px;
		margin-bottom: 26px;
	}
	.pkpoisk__price-filter__min, .pkpoisk__price-filter__max {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #25282B;
		width: 130px;
		height: 20px;
	}
	.pkpoisk__price-filter-wr {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
	}
	.pkpoisk__range-label {
		display: flex;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #25282B;
		border-bottom: 1px solid #E0E0E0;
		width: 130px;
	}

@media (max-width: 962px) {
	.pkpoisk__search-block--desktop {
		display: none;
	}	
}

@media (max-width: 767.98px){

}

@media (max-width: 575.98px){
	
}
